html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.header {
  display: flex;
  position: fixed;
  height: 70px;
  box-shadow: 1px 1px 15px 0px lightgrey;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
  background: linear-gradient(white 70%, rgba(255, 255, 255, 0.8));
  z-index: 1;
}

.header__figure {
  display: flex;
  margin: 0;
  width: 180px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.header__figure img {
  width: 40px;
}

.header__figure h1 {
  font-size: 25px;
  display: inline-block;
}

.header__input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  outline: transparent;
}

.header__input::placeholder {
  color: lightgray;
}

.header__userinfo {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  position: relative;
  margin-right: 10px;
  justify-content: space-evenly;
  transition: background 0.5s;
}

.header__userinfo a {
  text-decoration: none;
  letter-spacing: 1px;
  color: black;
  font-weight: bold;
}
.header__userinfo ul {
  position: absolute;
  list-style: none;
  display: none;
  top: 70px;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
  line-height: 25px;
  text-align: right;
  transition: background 2s;
}

.header__userinfo ul li {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  transition: background 2s;
}

.header__userinfo:hover {
  background: rgba(252, 98, 98, 0.75);
}

.header__userinfo:hover ul,
ul:hover {
  display: block;
  background: rgba(252, 98, 98, 0.75);
}

.avatar {
  width: 40px;
}

.arrow {
  width: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px calc(100vw - 125px);
  grid-template-rows: 250px 250px 250px;
  gap: 10px;
  grid-template-areas:
    'menu inMovie'
    'menu liked'
    'menu dontmiss';
  margin-top: 70px;
}

.grid-container h2 {
  margin: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgb(253, 94, 94), #f38181);
  grid-area: menu;
}

.menu img {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navigation {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 70px;
}

.movie--container {
  width: 330px;
  height: 200px;
  position: relative;
  box-shadow: 0px 0px 8px 0px;
  transition: box-shadow 0.3s;
}

.movie--container:hover {
  /* border: 5px solid lightgray; */
  box-shadow: 0px 0px 19px 4px grey;
  cursor: pointer;
}

.movie__image--container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.movie__image--container img {
  width: 100%;
  height: 100%;
}

.movie--info {
  display: flex;
  position: absolute;
  left: auto;
  right: auto;
  bottom: 0;
  background: rgba(253, 94, 94, 0.75);
  color: white;
  width: 100%;
  height: 50%;
  margin: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.movie--info p {
  margin: 5px 5px;
}

.movie--info h3 {
  font-weight: bold;
  margin: 5px 5px;
}

.inMovies {
  grid-area: inMovie;
}

.inMovies-grid {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  overflow-x: auto;
}

.liked {
  grid-area: liked;
}

.liked-grid {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  justify-items: center;
  overflow-x: auto;
}

.dontmiss {
  grid-area: dontmiss;
  margin-bottom: 20px;
}

.dontmiss-grid {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  justify-items: center;
  overflow-x: auto;
}

footer {
  background: white;
  padding: 0 10px;
  height: 70px;
  box-shadow: 1px -4px 15px 0px lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: black;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact img {
  width: 20px;
}

@media only screen and (max-width: 579px) {
  .header {
    height: 45px;
  }

  .header__figure {
    width: 100px;
  }

  .header__figure img {
    width: 20px;
    margin-right: 5px;
  }

  .header__figure h1 {
    font-size: 18px;
  }

  .header__input {
    padding: 5px;
  }

  .header__userinfo {
    width: 90px;
    margin-right: 5px;
  }

  .header__userinfo a {
    letter-spacing: 0px;
    font-size: 14px;
    text-align: center;
  }
  .header__userinfo ul {
    top: 45px;
  }

  .avatar {
    width: 20px;
    margin-right: 5px;
  }

  .arrow {
    width: 10px;
  }

  .grid-container {
    grid-template-columns: 70px calc(100vw - 80px);
    margin-top: 45px;
  }
  .menu img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }

  .menu a {
    font-weight: bold;
    font-size: 12px;
  }

  .navigation {
    top: 50px;
  }

  .grid-container h2 {
    font-size: 16px;
  }
  footer {
    padding: 0 10px;
    height: 50px;
  }

  footer a,
  span {
    font-size: 12px;
  }
  .contact img {
    width: 10px;
  }
}
